<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.his">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Application-->
    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2a071e4f5b41b045731708f1d39eb72e37c4ed0f" />

        <!--Activities-->
        <activity
            android:name="com.his.core.navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.login.LoginActivity"
            android:label="@string/login_screen_title"></activity>

        <activity
            android:name=".features.movies.MoviesActivity"
            android:label="@string/movies_screen_title"></activity>

        <activity
            android:name=".features.movies.MovieDetailsActivity"
            android:label="@string/movie_details_screen_title"
            android:theme="@style/AppTheme.Translucent"></activity>

    </application>

</manifest>

